extends ../layout

block content

	.row: .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
		.page-header
			h1 Sign-in

	if error
		.alert.alert-danger
			button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
			strong There was an error in your submission
			case error
				when 'error.user'
					p You forgot to enter your username.
				when 'error.pass'
					p You forgot to enter your password.
				when 'error.cred'
					p.
						The login credentials you provided can't be found.
						Did you misspell something? Have you
						<a href="/auth/register?user=#{user}">registered</a>?

	.row

		.col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
			form.form-horizontal(role='form', method='post')
				input(type='hidden', name='redirect', value=redirect)

				.form-group
					label.control-label.col-sm-3(for='username') Username
					.col-sm-9
						input(
							id='username',
							name='username',
							type='text',
							placeholder='Dalaraxis',
							value=username,
							autofocus=(!username)
						)

				.form-group
					label.control-label.col-sm-3(for='password') Password
					.col-sm-9
						input(
							id='password',
							name='password',
							type='password',
							placeholder='iamthelichking',
							value='',
							autofocus=(username)
						)

				.form-group
					.col-sm-offset-3.col-sm-9
						button.btn.btn-success(type='submit') Sign-in
